header.header
    .header__column
        a(href=routes.home)
            i.fas.fa-film
    .header_column
        form(action=routes.search, method='get')
            input(type='text', placeholder="search by terms.....", name="term")
    .header__column
        ul
            li
                a(href=routes.join) Join
            li 
                a(href=routes.login) Log In