extends layout/main.pug
include mixins/video

block content
     .search__header
        h3 Searching By #{searchBy}
     .search__videos
         if videos.length === 0
            h5 No Videos Found
         each item in videos 
            +video({
              id: item.id,
              title:item.title,
              views:item.views,
              videoFile:item.fileUrl
            })